---
layout: default
---
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-bg-lazyload@1.0.0/bg-lazyload.js"></script>
<div class="carousel bg-purple" style="height: 100vh; width: 100vw">
  {% for image in page.images %}
    <div class="carousel-cell relative bg-center bg-contain" style="height: 100vh; width: 100vw" data-flickity-bg-lazyload="{{ image }}">
    </div>
  {% endfor %}
</div>
<script type="text/javascript">
  var elem = document.querySelector('.carousel');
  var flkty = new Flickity(elem, {
    pageDots: false,
    cellAlign: 'left',
    contain: true,
    bgLazyLoad: true,
    bgLazyLoad: 2,
  });
</script>
