---
layout: default
---
<div class="bg-purple white overflow-hidden center py-5">
  <h1 class="f1 mb-2">Otaku</h1>
  <h2 class="f3 mb-2">A short book celebrating Morgan Evans</h2>
  <img src="/assets/images/otaku-cover.png" class="col-12 lg-col-8 mx-auto block" />
</div>
<h2 class="f1 center purple pt-5 pb-3">Get the book</h2>
<div class="overflow-hidden purple py-2 px-4 sm-px-2 lg-col-8 mx-auto">
  <div class="col col-6 sm-col-12 px-3 py-3">
    <h3 class="f2 center mb-2">Step One</h3>
    <div class="f3">
      <p class="mb-1">Head to <a href="https://www.curebraincancer.org.au/my-fundraising/9939/in-memory" target="_blank" class="purple link">Morgy’s donation page</a> and make a donation of $30 or more before March 31st.</p>
      <p class="mb-1">If you’d like more than copy please donate at least $30 for each copy.</p>
      <p class="mb-1">All of the money will go directly to the Cure Brain Cancer Foundation in memory of Morgy.</p>
      <p>To put your donation into context:</p>
      <p>— $30 Educates 6 professionals on early detection</p>
      <p>— $50 Funds a nurse to enrol a patient on a clinical trial</p>
      <p>— $500 Funds a brain cancer researcher in a lab for two days</p>
      <p class="mb-2">— $1,000 Funds genetic sequencing of a patient's tumour</p>
      <a href="https://www.curebraincancer.org.au/my-fundraising/9939/in-memory" target="_blank" class="button f3 inline-block no-underline purple">Donate Now</a>
    </div>
  </div>
  <div class="col col-6 sm-col-12 px-3 py-3">
    <h3 class="f2 center mb-2">Step Two</h3>
    <div class="f3">
      <p class="mb-1">Send me your address via the form below and I’ll print and send you a printed copy of the book anywhere in the world.</p>
    </div>
    <form class="py-2" action="https://formspree.io/sam@margalit.com.au" method="POST">
      <div class="overflow-hidden">
        <div class="mb-2 col-8 col pr-1">
          <label class="f3 mb-1">Name</label>
          <input class="input" type="text" name="name"></input>
        </div>
        <div class="mb-2 col-4 col pl-1">
          <label class="f3 mb-1"># of Copies</label>
          <input class="input" type="number" name="copies"></input>
        </div>
      </div>
      <div class="mb-2">
        <label class="f3 mb-1">Address</label>
        <textarea class="textarea" name="address"></textarea>
      </div>
      <button class="button f3" type="submit">
        Submit
      </div>
    </form>
  </div>
</div>
<div class="overflow-hidden center col-8 lg-col-6 sm-col-12 px-4 mx-auto f3">
  <div class="mb-4">
    <p class="mb-1">I’ve also uploaded an ebook version of the book which I invite you to enjoy.</p>
    <a class="link purple" href="/uploads/Otaku%20Ebook.pdf">Download Ebook</a>
  </div>
  <div class="mb-4">
    <p class="mb-1">I received an overwhelming amount of contributions and couldn’t fit them all into the book so I’ve created an image gallery for all the submissions.</p>
    <a class="link purple" href="/gallery">View the Gallery</a>
  </div>
</div>
<div class="py-4 bg-gray">
  <div class="overflow-hidden center col-8 lg-col-6 sm-col-12 px-4 mx-auto f3">
    <p class="mb-1">If you have any questions you can reach me via:</p>
    <a class="link purple" href="mailto:sam@margalit.com.au">sam@margalit.com.au</a>
  </div>
</div>
